:root {
    --white: #fff;
    --grey: #F2F2F2;
    --gradient2: linear-gradient(90deg, #F4B177 0%, #E44352 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Proxima Nova';
}

/*reset*/

button {
    border: none;
    background: none;
}

input {
    width: 100%;
}

/*reset*/

.svg-defs {
    display: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.jcsb {
    justify-content: space-between;
}

.jce {
    justify-content: center;
}

.aie {
    align-items: center;
}

.pw {
    min-width: 320px;
    width: 100%;
    position: relative;
}

.wrapper {
    width: 97vw;
    max-width: calc(100% - 280px);
    margin: 0 auto;
}

@media (min-width: 1700px) {
    .wrapper {
        max-width: 1440px;
    }
}

@media (max-width: 1024px) {
    .wrapper {
        max-width: calc(100% - 100px);
    }
}

@media (max-width: 640px) {
    .wrapper {
        max-width: calc(100% - 40px);
    }
}

.gradient {
    background: linear-gradient(90deg, #379DCE 0%, #1E9AB4 6%, #08989D 14%, #009794 18%, #049394 20%, #227793 33%, #396193 47%, #4A5192 62%, #544892 79%, #574592 100%);
}

.baseBg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
}

.login {
    padding-top: 85px;
    padding-bottom: 50px;
    min-height: calc(100vh - 135px);
}

.auth {
    max-width: 360px;
    margin: 0 auto 120px;
}

.auth .logo {
    margin-bottom: 30px;
}

form .ln {
    margin-bottom: 24px;
}

form .ln:last-child {
    margin-bottom: 48px;
}

.input-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.input-wrapper .caption {
    width: 100%;
    margin-bottom: 8px;
}

.input-wrapper input {
    padding: 16px;
}

.input-wrapper .notification {
    width: 100%;
    margin-top: 8px;
}

.button {
    padding: 12px 36px;
}

.button_gradient {
    color: var(--grey);
    background: var(--gradient2);
}

.button-submit {
    width: 100%;
    color: var(--grey);
    background: var(--gradient2);
}


.header {
    padding: 40px 0 34px;
    border-bottom: 1px solid var(--white);
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
}

.profile {
    display: flex;
    align-items: center;
}

.profile__name {
    margin-right: 24px;
}

.broadcast {
    padding: 110px 0 72px;
    margin-top: -110px;
}

.broadcast__frame {
    margin: 40px 0;
    position: relative;
    width: 100%;
    padding-bottom: calc(100% / 2);
}

.broadcast__frame iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.broadcast__desc {
    width: 100%;
    padding-bottom: 64px;
    margin-bottom: 40px;
    border-bottom: 1px solid var(--white);
}

.broadcast__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 16px;
}

.broadcast__speaker {
    width: calc(100% - 300px);
}


.episode {
    display: flex;
    flex-wrap: wrap;
    width: calc(50% - 40px);
    margin-bottom: 40px;
}

.episode__preview {
    width: calc(200px);
    min-height: 120px;
    margin-right: 16px;
}

.episode__desc {
    width: calc(100% - 216px);
}
